doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/materialize.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet')
        link(rel='stylesheet" href="https://npmcdn.com/select-combobox/dist/combobox.css')
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(src='/javascript/signUp.js')
        script(src='/storage/db.js')
        script(src='/javascript/materialize.js')
        script(src="https://npmcdn.com/select-combobox/dist/combobox.js")
    body
        block content


